# configure flag, home, checkpoint position (optional)
#					checkpoint | config  |  vars
# y = configurable file			    y		y        y
# n = non-configurable file                 y           y        n
# d = directory checkpoint	            y           n        n
# 
# Checkpoints will 
#
# The pound (#) is the comment character.
# You should put directory copies first, then address individual files.
# No leading slashes!
#
d universe
#y etc/config.prop
y etc/default.prop
y bin/setautohitenv.bat
y bin/cli.sh
y bin/command.sh
y bin/install.sh
y bin/run.sh
y bin/setup.sh
y bin/server.sh
y universe/universe.prop
